<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Neoxygen | Bridging PHP and Neo4j</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="{{ '/resources/assets/bootstrap/dist/css/bootstrap.min.css' }}">
    <link rel="stylesheet" href="{{ '/assets/css/icomoon-social.css' }}">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,600,800' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="{{ '/assets/css/leaflet.css' }}" />
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="{{ '/assets/css/leaflet.ie.css' }}" />
    <![endif]-->
    <link rel="stylesheet" href="{{ '/assets/css/main.css' }}">

    <script src="js/modernizr-2.6.2-respond-1.1.0.min.js"></script>
</head>
<body>
<!--[if lt IE 7]>
<p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
<![endif]-->


<!-- Navigation & Logo-->
<div class="mainmenu-wrapper">
    <div class="container">

        <nav id="mainmenu" class="mainmenu">
            <ul>
                <li class="logo-wrapper"><a href="{{ path('home') }}"><span>Neoxygen</span> | Bridging PHP &amp; Neo4j</a></li>
                <li class="active">
                    <a href="{{ path('home') }}">Home</a>
                </li>
                <!--
                <li>
                    <a href="#">Components</a>
                </li>
                <li>
                    <a href="#">Services</a>
                </li>
                -->

                <li>
                    <a href="{{ path('news') }}">News</a>
                </li>
                <!--
                <li><a href="#">Contact</a></li>
                -->
            </ul>
        </nav>
    </div>
</div>
{% block content %} {% endblock content %}


<!-- Footer -->
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-footer col-md-3 col-xs-6">
                <!--
                <h3>Our Latest Work</h3>
                <div class="portfolio-item">
                    <div class="portfolio-image">
                        <a href="page-portfolio-item.html"><img src="img/portfolio6.jpg" alt="Project Name"></a>
                    </div>
                </div>
                -->
            </div>
            <div class="col-footer col-md-3 col-xs-6">
                <h3>Navigate</h3>
                <ul class="no-list-style footer-navigate-section">
                    <li><a href="#">Components</a></li>
                    <li><a href="#">News</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="mailto:contact@neoxygen.io">Contact</a></li>
                </ul>
            </div>
            <div class="col-footer col-md-2 col-xs-6">
                <h3>Stay Connected</h3>
                <ul class="footer-stay-connected no-list-style">
                    <li><a href="https://twitter.com/neoxygenIO" class="twitter"></a></li>
                    <!--
                    <li><a href="#" class="googleplus"></a></li>
                    -->
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="footer-copyright"><span>Neoxygen</span> is an initiative of <a href="https://twitter.com/ikwattro" title="Christophe Willemsen's profile on Twitter">Christophe Willemsen</a> - &copy; 2014 All rights reserved</div>
            </div>
        </div>
    </div>
</div>

<!-- Javascripts -->
<script src="{{ '/resources/assets/jquery/dist/jquery.min.js' }}"></script>
<script src="{{ '/resources/assets/bootstrap/dist/js/bootstrap.min.js' }}"></script>
<script src="{{ '/assets/js/jquery.fitvids.js' }}"></script>
<script src="{{ '/assets/js/jquery.sequence-min.js' }}"></script>
<script src="{{ '/assets/js/jquery.bxslider.js' }}"></script>
<script src="{{ '/assets/js/main-menu.js' }}"></script>
<script src="{{ '/assets/js/template.js' }}"></script>

</body>
</html>