{% extends "::base.html.twig" %}

{% block content %}
    <div class="section section-breadcrumbs">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Components</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="service-wrapper">
                        <img src="{{ '/assets/img/service-icon/box.png' }}" alt="Package">
                        <h3>NeoClient</h3>
                        <p>The most advanced and flexible PHP Client for Neo4j with Enterprise HA Master/Slave built-in support..</p>
                        <a href="https://github.com/neoxygen/neo4j-neoclient" class="btn">View on Github</a>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="service-wrapper">
                        <img src="{{ '/assets/img/service-icon/box.png' }}" alt="Package">
                        <h3>Neogen</h3>
                        <p>Graph generation engine for Neo4j leveraging the Faker library. The core of the Graphgen web application.</p>
                        <a href="https://github.com/neoxygen/neo4j-neogen" class="btn">View on Github</a>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="service-wrapper">
                        <img src="{{ '/assets/img/service-icon/diamond.png' }}" alt="Application">
                        <h3>Graphgen</h3>
                        <p>Online Neo4j Graph generation engine with multiple export formats and DB importer tool and instant visualisation.</p>
                        <a href="http://graphgen.neoxygen.io" class="btn">Discover !</a>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="service-wrapper">
                        <img src="{{ '/assets/img/service-icon/box.png' }}" alt="Package">
                        <h3>GrapheneDB Client</h3>
                        <p>Neo4j instances manager for the popular Neo4j As A Service <b>GrapheneDB</b>. Create, delete instances from your application.</p>
                        <a href="https://github.com/neoxygen/graphenedb-client" class="btn">View on Github</a>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="service-wrapper">
                        <img src="{{ '/assets/img/service-icon/box.png' }}" alt="Package">
                        <h3>Neo4j Console Client</h3>
                        <p>Create Neo4j Consoles directly from your application. Initiate setup queries, console message and initial query and get the url.</p>
                        <a href="https://github.com/neoxygen/neo4j-console-client" class="btn">View on Github</a>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="service-wrapper">
                        <img src="{{ '/assets/img/service-icon/ruler.png' }}" alt="Service Name">
                        <h3>Custom development</h3>
                        <p>Need something tailor made for your needs ? We would be happy to help you bridging PHP &amp; Neo4j.</p>
                        <a href="mailto:contact@neoxygen.io" class="btn">Contact Us</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}