{% extends "::base.html.twig" %}

{% block content %}
    <!-- Homepage Slider -->
    <div class="homepage-slider">
        <div id="sequence">
            <ul class="sequence-canvas">
                <!-- Slide 1 -->
                <li class="bg4">
                    <!-- Slide Title -->
                    <h2 class="title">Components</h2>
                    <!-- Slide Text -->
                    <h3 class="subtitle">Full featured PHP components for the Neo4j ecosystem.</h3>
                    <!-- Slide Image -->
                    <img class="slide-img img-rounded" src="{{ '/assets/img/_home/slide1-github.png' }}" alt="Slide 1" />
                </li>
                <!-- End Slide 1 -->
                <!-- Slide 2 -->
                <li class="bg3">
                    <!-- Slide Title -->
                    <h2 class="title">Graphgen</h2>
                    <!-- Slide Text -->
                    <h3 class="subtitle">An online application helping you in graph prototyping.</h3>
                    <!-- Slide Image -->
                    <img class="slide-img img-rounded" src="{{ '/assets/img/_home/slide2-graphgen.png' }}" alt="Slide 2" />
                </li>
                <!-- End Slide 2 -->
                <!-- Slide 3 -->
                <li class="bg2">
                    <!-- Slide Title -->
                    <h2 class="title">Services</h2>
                    <!-- Slide Text -->
                    <h3 class="subtitle">Need help in developing with Neo4j &amp; PHP, we can help you !.</h3>
                    <!-- Slide Image -->
                    <img class="slide-img img-rounded" src="{{ '/assets/img/homepage-slider/support.jpg' }}" alt="Slide 3" />
                </li>
                <!-- End Slide 3 -->
            </ul>
            <div class="sequence-pagination-wrapper">
                <ul class="sequence-pagination">
                    <li>1</li>
                    <li>2</li>
                    <li>3</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- End Homepage Slider -->

    <!-- Latest releases and news -->

    <div class="section">
        <div class="container">
            <div class="row">
                <!-- Featured News -->
                <div class="col-sm-6 featured-news">
                    <h2>Latest releases</h2>
                    <div class="row">
                        <div class="col-xs-4"><a href="page-blog-post-right-sidebar.html"><img src="img/news1.jpg" alt="Post Title"></a></div>
                        <div class="col-xs-8">
                            <div class="caption"><a href="page-blog-post-right-sidebar.html">Anual Report</a></div>
                            <div class="date">16 May 2013 </div>
                            <div class="intro">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et. <a href="page-blog-post-right-sidebar.html">Read more...</a></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4"><a href="page-blog-post-right-sidebar.html"><img src="img/news2.jpg" alt="Post Title"></a></div>
                        <div class="col-xs-8">
                            <div class="caption"><a href="page-blog-post-right-sidebar.html">New Career Oportunities</a></div>
                            <div class="date">14 May 2013 </div>
                            <div class="intro">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. <a href="page-blog-post-right-sidebar.html">Read more...</a></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4"><a href="page-blog-post-right-sidebar.html"><img src="img/news3.jpg" alt="Post Title"></a></div>
                        <div class="col-xs-8">
                            <div class="caption"><a href="page-blog-post-right-sidebar.html">Even More News</a></div>
                            <div class="date">05 May 2013 </div>
                            <div class="intro">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. <a href="page-blog-post-right-sidebar.html">Read more...</a></div>
                        </div>
                    </div>
                </div>
                <!-- End Featured News -->
                <!-- Latest News -->
                <div class="col-sm-6 latest-news">
                    <h2>Latest News</h2>
                    {% for post in posts %}
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="caption"><a href="page-blog-post-right-sidebar.html">{{ post.title }}</a></div>
                                <div class="date">16 May 2013 </div>
                                <div class="intro">{{ post.body }}<a href="page-blog-post-right-sidebar.html">Read more...</a></div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <!-- End Featured News -->
            </div>
        </div>
    </div>


    <hr />

    <!-- Press Coverage -->
    <div class="section section-white">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="in-press press-wired">
                        <a href="#">Graphgen is an awesome tool for generating and visualizing graph data with cypher!</a>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="in-press press-mashable">
                        <a href="#">This is amazing! Online Graph generator w/ Cypher spec, faker support, graphviz, live import and script dl.</a>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="in-press press-techcrunch">
                        <a href="#">My favorite Graphie-Awards: seenickcode, GraphAlchemist, neoxygenIO, Linkurious, wefreema, neo4jrb Thank you for your great community work!<br/> - "Michael Hunger"</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Press Coverage -->

    <!-- Services -->
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="service-wrapper">
                        <img src="{{ '/assets/img/service-icon/box.png' }}" alt="Service 1">
                        <h3>NeoClient</h3>
                        <p>The most advanced PHP client for the Neo4j ReST API, with native multiDB, replication feature. Ready for Neo4j Enterprise.</p>
                        <a href="#" class="btn">Read more</a>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="service-wrapper">
                        <img src="{{ '/assets/img/service-icon/diamond.png' }}" alt="Service 2">
                        <h3>Neogen</h3>
                        <p>The core of the Graphgen web app, graph generation made easy and handful to be embed in your test suites.</p>
                        <a href="#" class="btn">Read more</a>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="service-wrapper">
                        <h3>Custom needs ?</h3>
                        <p>Need custom development in PHP around Neo4j, or a formation ? <br/> We'll be happy to offer you our services.</p>
                        <a href="#" class="btn">Read more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Services -->

    <!-- Call to Action Bar -->
    <div class="section section-white">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="calltoaction-wrapper">
                        <h3>Discover more components on our <b>Components page</b></h3> <a href="#" class="btn btn-orange">Discover !</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Call to Action Bar -->
{% endblock %}